
:root {
  --form-control-color: #72AB46;
  --form-control-disabled: #B4D21C;
}

input[type='range'] {
  -webkit-appearance: none !important;
  background:#CFCFCF;

  height:0.8em;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
 
  background: #B4D21C;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    border-color: var(--form-control-disabled);
    display: inline-grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  